$white: #fff;
$black: #302d32;
$hover: #827686;
$bg: #e0dce2;
$fontfamily: "Roboto", sans-serif;
//===============================================
$maxWidth: 1920;
$cnt-width: 1430;
$md1: 1200px;
$md2: 1024px;
$md3: 860px;
$md4: 425px;
