.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 94px;
    @media (max-width: $md3) {
        height: 44px;
    }
    // .header__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @media (max-width: $md3) {
            align-items: flex-end;
        }
    }
    // .header__logo
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 94px;
        padding: 0 34px;
        background-color: $black;
        img {
            width: 140px;
            height: auto;
        }
        @media (max-width: $md3) {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 50%;
            height: 44px;
            padding: 0 13px;
            transform: translateX(-50%);
            img {
                width: 71px;
                height: auto;
            }
        }
    }
    // .header__menu
    &__menu {
    }
}
.container {
}
.menu {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: flex-start;
    padding: 0 35px;
    @media (max-width: $md1) {
        padding: 0 25px;
    }
    @media (max-width: $md3) {
        padding: 0;
    }
    // .menu__icon
    &__icon {
    }
    // .menu__body
    &__body {
        flex: 0 1 63.3%;
        overflow: hidden;
        @media (max-width: 1280px) {
            flex: 0 1 75%;
        }
        @media (max-width: $md1) {
            flex: 0 1 80%;
        }
        @media (max-width: $md3) {
            display: block;
            position: absolute;
            top: -100vh;
            left: 0;
            width: 100%;
            min-height: 100vh;
            transition: all 0.3s ease 0s;
            background-color: rgba($bg, 1);
        }
        &_active {
            @media (max-width: $md3) {
                top: 0;
            }
            .menu__list {
                left: 0;
            }
        }
    }
    // .menu__list
    &__list {
        display: flex;
        justify-content: space-between;
        position: relative;
        left: -100%;
        transition: all 0.3s ease 0s;
        li {
            @media (max-width: $md3) {
                margin: 0 0 40px 0;
            }
        }
        @media (max-width: $md3) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            left: 0;
            padding: 100px 0;
        }
    }
    // .menu__link
    &__link {
        font-size: 16px;
        color: $white;
        white-space: nowrap;
        @media (max-width: $md3) {
            font-size: 18px;
            color: $black;
        }
    }
    // .header__contacts
    &__contacts {
    }
}
.icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    width: 40px;
    height: 19px;
    margin: 0 calc(139% / 1430 * 100) 0 0;
    cursor: pointer;
    @media (max-width: $md1) {
        margin: 0 calc(80% / 1430 * 100) 0 0;
    }
    span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 70%;
        height: 2px;
        transition: all 0.3s ease 0s;
        background-color: $white;
        &:first-child {
            top: 0;
            width: 100%;
        }
        &:last-child {
            top: auto;
            bottom: 0;
            width: 100%;
        }
    }
    @media (max-width: $md3) {
        display: block;
        position: relative;
        z-index: 5;
        width: 17px;
        height: 13px;
        margin: 10.5px 8.5px;
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 34px;
            height: 34px;
            transform: translate(-50%, -50%);
            background-color: $white;
            border-radius: 50%;
        }
        span {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 2px;
            transition: all 0.3s ease 0s;
            background-color: $black;
            &:first-child {
                top: 0;
            }
            &:last-child {
                top: auto;
                bottom: 0;
            }
        }
        &_active {
            span {
                transform: scale(0);
                &:first-child {
                    top: calc(50% - 1px);
                    transform: rotate(-45deg);
                }
                &:last-child {
                    bottom: calc(50% - 1px);
                    transform: rotate(45deg);
                }
            }
        }
    }
}
.contacts-header {
    display: flex;
    flex: 0 0 23.6%;
    justify-content: space-between;
    @media (max-width: 1280px) {
        flex: 0 1 24.6%;
    }
    @media (max-width: $md1) {
        flex: 0 1 20%;
        justify-content: flex-end;
    }
    @media (max-width: $md2) {
        flex: 0 1 4%;
    }
    // .contacts-header__link
    &__link {
        position: relative;
        color: $white;
        white-space: nowrap;
        &:before, &:after {
            position: absolute;
            top: 50%;
            left: -15px;
            transform: translate(-100%, -50%);
            @media (max-width: $md1) {
                left: -10px;
            }
            @media (max-width: $md3) {
                transform: translate(-100%, -100%);
            }
        }
        &:after {
            @media (max-width: $md3) {
                transform: translate(-100%, -150%);
            }
        }
    }
    // .contacts-header__location
    &__location {
        @media (max-width: $md1) {
            font-size: 0;
            margin-right: 45px;
        }
        @media (max-width: $md2) {
            display: none;
        }
        &:after {
            content: url("../../../img/icons/place.png");
        }
    }
    // .contacts-header__tel
    &__tel {
        @media (max-width: $md2) {
            font-size: 0;
        }
        @media (max-width: $md3) {
            &:before {
                content: "";
                position: absolute;
                top: 0%;
                left: 0%;
                width: 34px;
                height: 34px;
                background-color: $white;
                border-radius: 50%;
            }
        }
        &:after {
            content: url("../../../img/icons/phone.png");
            @media (max-width: $md3) {
                content: url("../../../img/icons/phone-b.png");
            }
        }
    }
}
