@import "vendor/import/normalize";
@import "helpers/mixins";
@import "helpers/variables";
@import "../blocks/modules";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700);
// =====================================================
body {
	height: 100%;
	background-color: $white;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: $black;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
	padding: 0 15px;
}
.container {
	max-width: $cnt-width + px;
	margin: 0 auto;
}
// section-main =======================================
.section-main {
	min-height: 100vh;
	background-color: rgb(255, 255, 255);
}
.main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 520px;
	// .main__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
.container {
}
.main-slider {
	position: relative;
	z-index: 2;
	min-height: 520px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 38px 0 0;
	// .main-slider__item
	&__item {
		color: $white;
		text-align: center;
		max-width: 60%;
	}
	// .main-slider__title
	&__title {
		font-size: 60px;
		font-weight: 700;
		line-height: 70px;
		margin-bottom: 35px;
	}
	// .main-slider__description
	&__description {
		font-weight: 500;
		line-height: 24px;
		max-width: 65%;
		margin: 0 auto 40px;
	}
	// .main-slider__btn
	&__btn {
		color: $black;
		font-family: Roboto;
		font-size: 18px;
		font-weight: 700;
		line-height: 69px;
		text-transform: uppercase;
		letter-spacing: 3.24px;
		padding: 0 52px;
		background-color: $white;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $hover;
		}
	}
}
.slider {
}
