<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>HOMEFOR</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="styles/main.css">

</head>

<body>
	<div class="wrapper">
		@@include("../blocks/modules/header/header.html")
		<section class="section-main main">
			<div class="main__container container">
				<div class="main-slider slider">
					<div class="main-slider__item">
						<h1 class="main-slider__title">Жилой комплекс HOMEFOR&nbsp&nbsp-<br>это жизнь с комфортом</h1>
						<div class="main-slider__description">Мы охватываем все важные этапы проектирования и строительство дома, а также повседневная эксплуатация после окончания строительства.</div>
						<button class="main-slider__btn">Подробнее</button>
					</div>
					<div class="main-slider__item">
						<h1 class="main-slider__title">Жилой комплекс HOMEFOR&nbsp&nbsp-<br>это многофункциональность</h1>
						<div class="main-slider__description"> В составе комплекса реализуется не только жилой фонд, но и социальный – на территории ЖК функционируют бизнес и торгово-развлекательный центры, школа и другие важные для района объекты.</div>
						<button class="main-slider__btn">Подробнее</button>
					</div>
					<div class="main-slider__item">
						<h1 class="main-slider__title">Жилой комплекс HOMEFOR&nbsp&nbsp-<br>высокое качество жилья</h1>
						<div class="main-slider__description">Возможность жить, работать и отдыхать, не выезжая за пределы микрорайона. Это самостоятельное городское пространство с высоким уровнем комфорта.</div>
						<button class="main-slider__btn">Подробнее</button>
					</div>
				</div>
			</div>
			<div class="main__bg">
				<img src="../img/bg-main.png" alt="">
			</div>
		</section>
		<section class="section-filter">

		</section>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.slider').slick({
				dots: true,
				infinite: true,
				speed: 300,
				fade: true,
				centerMode: true,
				cssEase: 'linear',
				draggable: true,
				slidesToShow: 1,
				adaptiveHeight: true,
				autoplay: true,
			});
		});

	</script>
	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>

</html>